@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --red: #d63a25;
    --white: #fff;
    --dark: #1e1c2a;
}

body {
    background: var(--white);
    color: var(--dark);
}

.navigation {
    align-items: center;
    background: var(--white);
    box-shadow: 0 0.1rem 0.5rem #ccc;
    display: flex;
    justify-content: space-between;
    padding: 18px 40px;
    position: fixed;
    transition: all 0.5s;
    width: 100%;
}

.navigation .logo {
    color: var(--red);
    font-size: 1.7rem;
    font-weight: 600;
}

.logo span {
    color: var(--dark);
}

.navigation ul {
    align-items: center;
    display: flex;
    gap: 5rem;
}

.navigation ul li a {
    color: var(--dark);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}

.navigation ul li a:hover {
    color: var(--red)
}

.navigation i {
    cursor: pointer;
    font-size: 1.5rem;
}

.menu2 {
    border: 0px;
    background: none;
    cursor: pointer;
    display: none;
    height: 32px;
    position: relative;
    width: 24px;
}

.menu2 .bar {
    border-radius: 3px;
    background: var(--dark);
    display: block;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s;
    width: 28px;
}

.bar:nth-child(1),
.bar:nth-child(3) {
    background: var(--red);
}

.home {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: space-between;
    padding: 0px 10%;
    width: 100%;
}

.home_text {
    max-width: 37rem;
}

.home_text .text_h4 {
    color: var(--red);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.home_text .text_h1 {
    font-size: 4rem;
    line-height: 4rem;
    margin-bottom: 1rem;
}

.home_text p {
    margin-bottom: 4rem;
}

.home_btn {
    background: var(--red);
    border-radius: 10px;
    color: var(--white);
    font-weight: 600;
    padding: 15px 45px;
    transition: all 0.5s;
}

.home_btn:hover {
    background: #fc4c35;
}

.home_img img {
    width: 100%;
}

@media(max-width: 785px) {
    .navigation {
        padding: 18px 20px;
    }

    .menu2 {
        display: block;
    }

    .menu2.ativo .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu2.ativo .bar:nth-child(2) {
        opacity: 0;
    }

    .menu2.ativo .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav_menu {
        background: var(--white);
        flex-direction: column;
        gap: -10px;
        height: 100%;
        position: fixed;
        right: -100%;
        top: 70px;
        transition: 0.3s;
        width: 100%;
    }

    .nav_menu.ativo {
        right: 0;
    }

    .nav_item {
        margin: 16px 0;
    }

    /* main */
    .home {
        flex-direction: column;
        gap: 5rem;
        overflow: hidden;
        padding: 100px 2px;
        text-align: center;
    }

    .home .text_h4 {
        font-size: 15px;
    }

    .home .text_h1 {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .home_img {
        width: 360px;
    }
}